<section class="section section_about hAuto" id="about-ico">
  <div class="parallax_container"
    >
    <div class="valign">
      <div class="valign__row">
        <div class="valign__cell">
          <div class="container">
            <div class="row">
              <div class="col-md-8 automargin">
                <div class="section_tag">Details</div>
                <h2 class="section_title">About the Lykke Utility Token sale</h2>

                <div class="list_details">
                  <div class="row">
                    <div class="col-sm-6 col-md-4">
                      <div class="list_item">
                        <div class="list_item__title">LKT </div>
                        <div class="list_item__description">Token name</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="list_item">
                        <div class="list_item__title">1 Dec 2017 12:00 UTC<br>10 Dec 2017 12:00 UTC</div>
                        <div class="list_item__description">Token sale period</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="list_item">
                        <div class="list_item__title">Ethereum</div>
                        <div class="list_item__description">Underlying blockchain</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="list_item">
                        <div class="list_item__title">1 LKT = 1 USD</div>
                        <div class="list_item__description">Nominal price</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="list_item">
                        <div class="list_item__title">1,000 USD <span>or equivalent</span></div>
                        <div class="list_item__description">Minimum order</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="list_item">
                        <div class="list_item__title">150,000,000 LKT</div>
                        <div class="list_item__description">Amount (cap)</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="list_item">
                        <div class="list_item__title">EIP20 (ERC20)</div>
                        <div class="list_item__description">Token type</div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="list_item">
                        <div class="list_item__title">USD, EUR, CHF, GBP, BTC, and ETH</div>
                        <div class="list_item__description">Accepted currencies</div>
                      </div>
                    </div>
                  </div>
                </div>

                <h3>Discounts</h3>

                <div class="discount">
                  <div class="discount_img">
                    <img src="images/grid.svg" alt="waves">
                  </div>
                  <div class="discount_info">
                    <div class="discount_item">
                      <div class="discount_item__title">20%</div>
                      <div class="discount_item__desc">for 1 hour after start of sale </div>
                    </div>
                    <div class="discount_item">
                      <div class="discount_item__title">15%</div>
                      <div class="discount_item__desc">1 day</div>
                    </div>
                    <div class="discount_item">
                      <div class="discount_item__title">7%</div>
                      <div class="discount_item__desc">3 days</div>
                    </div>
                    <div class="discount_item">
                      <div class="discount_item__title">3%</div>
                      <div class="discount_item__desc">7 days</div>
                    </div>
                    <div class="discount_item">
                      <div class="discount_item__title">0%</div>
                      <div class="discount_item__desc">after 7 days</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <h4>About company</h4>
                    <p>Company name: Lykke Pte. Ltd.; Registered address: 22 North Canal Road #02-00, Singapore 048834; Registration number: 201716567K.</p>
                  </div>
                  <div class="col-sm-6">
                    <h4>Distribution</h4>
                    <p>70% ITO investors, 15% Lykke services, 7% advisors/ITO consultants, 5% airdrop to LKK coinholders, 3% reward program.</p>
                  </div>
                  <div class="col-sm-6">
                    <h4>Regions blocked</h4>
                    <p>China, South Korea, and any other jurisdictions where offering tokens of this nature may constitute a license requirement.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>