<section class="section section_about" id="about">
  <div class="parallax_container">
    <div class="valign">
      <div class="valign__row">
        <div class="valign__cell">
          <div class="container">
            <div class="row">
              <div class="col-md-10 automargin">
                <div class="row">
                  <div class="col-md-6">
                    <div class="section_tag">What is it?</div>
                    <h2 class="section_title">About LKT</h2>

                    <p class="lead">The Lykke Utility Token is an ERC20-based token that confers the right to obtain and pay for future services within the Lykke Ecosystem:</p>

                    <h4>Professional services</h4>

                    <ul class="list_styled">
                      <li>A variety of data services: streaming market data and historical outlook data, consumer data from investing to spending habits, and rewards or payments to clients for agreeing to share personal data</li>
                      <li>Country-specific tax reports</li>
                      <li>Collateral for margin trading or peer-to-peer lending</li>
                      <li>Channel collateral</li>
                      <li>Listing fees paid by the issuer</li>
                      <li>Custody fees paid by the user</li>
                      <li>Liquidity fees</li>
                      <li>POS merchant fees</li>
                      <li>Preferential access to ICOs</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <div class="section_img">
                      <div class="utility_bg floating">
                        <img src="images/about_lkt_particles.png" width="1530" alt="img">
                      </div>

                      <div class="utility_logo floating">
                        <img src="images/utility_logo.png" alt="utility_logo" width="144">
                      </div>
                    </div>

                    <h4>Rebates/discounts</h4>
                    <ul class="list_styled">
                      <li>Discounted exchange fees for professional traders</li>
                      <li>Reduced fees when investing in LKK liquidity</li>
                      <li>Reduced asset management fees</li>
                      <li>Reduced fees for peer-to-peer lending</li>
                      <li>Rewards for new quant/algo models</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>