<section class="section section_subscribe" id="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section_title">Don’t miss <br>important news</h2>
      </div>
      <div class="col-md-6">
        <div class="block_subscribe">
          <div class="block_subscribe__title">Subscribe to Lykke updates right in your mailbox</div>
          <form action="" class="form form--subscribe">
            <div class="form-group">
              <!-- TODO add form-control--focus if input/select has value-->
              <input type="email" id="first_name" class="form-control">
              <label for="first_name" class="control-label">Enter your email</label>
              <button type="button" class="btn btn--bordered btn--icon input-group-addon"><i class="icon icon--arrow-right-alt"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="https://lykke.com" target="_blank">
          <img src="images/logo_white.svg" alt="lykke logo" width="134" height="40">
        </a>
      </div>
      <div class="col-md-6">
        <div class="apps apps--left">
          <div class="apps_apple">
            <a
              href="https://appsto.re/ru/Dwjvcb.i"
              class="app_link app_link--appstore"
              title="App Store"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="images/appstore-badge.svg" width="170" alt="apps_apple">
            </a>

          </div>
          <div class="apps_google">
            <a
              href="https://play.google.com/store/apps/details?id=com.lykkex.LykkeWallet"
              class="app_link app_link--googleplay"
              title="Google Play"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="images/google-play.svg" width="170" alt="apps_google">
            </a>
          </div>
        </div>

        <div class="footer__text">
          The information on this website is intended only for persons residing or having their registered office in Switzerland. By using this website, you expressly confirm that you are a resident of Switzerland or your company holds a registered office in Switzerland.  Lykke Corp (Lykke AG) explicitly declines any responsibility for the distribution of information or documents to natural or legal persons who provide incorrect information regarding their legal place of residence or registered office.
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="footer__copy">© 2017 Lykke, Inc.</div>
          </div>
          <div class="col-sm-8">
            <div class="footer__links">
              <a href="">Privacy Policy</a>
              <a href="">Terms of Use</a>
              <a href="">FAQ</a>
              <a href="">Support</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>